{% extends 'base.html' %}
{% block content %}
    <p>This is the home page</p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci alias asperiores earum esse, harum impedit inventore ipsum laboriosam minima mollitia nemo odio pariatur praesentium quae quibusdam veniam vero!</span><span>Ad, aliquam aspernatur cupiditate delectus deserunt dolor ex excepturi facere fugiat inventore ipsam itaque iusto labore maxime natus nesciunt nihil odio perspiciatis porro saepe sed sit, tenetur veritatis, voluptate voluptates.</span><span>Aliquid culpa earum eum facere fuga ipsam nam pariatur possimus quisquam quo tempora, temporibus velit. Ad aliquid deleniti, dolorem eos fuga id incidunt inventore non pariatur, quidem recusandae repellendus veniam!</span></p>

{% endblock %}